{% extends 'layout.html' %}
{% load crispy_forms_tags %}
 {% block title %}
<title>Show Professor</title>
 {% endblock %}
{% block search %}
    <ul class="navbar-nav ml-auto ">
        <form method="post" class="form-inline" style="margin-right:auto">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" name="searchdata" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-success " type="submit">Professor</button>
        </form>
    </ul>
{% endblock %}
{% block content %}
<h1 style="text-align:center";>Show Professor</h1>
<div class="container" style="width:50%;">
<table class="table table-dark">
<tr>

    <th>prof Name</th>
    <th>Subject</th>
    <th>Depatment</th>
    <th>-</th>
    <th>Delete</th>
    <th>Update</th>
</tr>
{% for prof in professor %}
<tr>
    <td>{{prof.prof_name}}</td>
    <td>{{prof.subject}}</td>
    <td>
    {% for d in prof.prof_id.all %}
    <td>{{d.dept_name}}</td>
    <br>
    {% endfor %}
    </td>
    <td><a href="{% url 'delete_prof' prof.prof_name %}">
        <button class="btn btn-danger">Delete</button></a></td>
    <td><a href="{% url 'update_prof' prof.prof_name %}">
        <button class="btn btn-warning">Update</button></a></td>
</tr>
{% endfor %}
    </table>
<br>
<a href="{% url 'add_prof' %}"><button class="btn btn-success">Add Professor</button></a>
        </form>
    </div>
{% endblock %}