{% extends 'layout.html' %}
{% load crispy_forms_tags %}
 {% block title %}
<title>Show Student</title>
 {% endblock %}
{% block search %}
    <ul class="navbar-nav ml-auto ">
        <form method="post" class="form-inline" style="margin-right:auto">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" name="searchdata" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-success " type="submit">Student</button>
        </form>
    </ul>
{% endblock %}
{% block content %}
<h1 style="text-align:center";>Show Student</h1>
<div class="container" style="width:50%;">
<table class="table table-dark">
<tr>
    <th>Roll No</th>
    <th>Name</th>
    <th>Marks</th>
    <th>Delete</th>
    <th>Update</th>
</tr>
{% for stu in student%}
<tr>
    <td>{{stu.rollno}}</td>
    <td>{{stu.name}}</td>
    <td>{{stu.marks}}</td>
    <td><a href="{% url 'delete_stu' stu.id %}">
        <button class="btn btn-danger">Delete</button></a></td>
    <td><a href="{% url 'update_stu' stu.id %}">
        <button class="btn btn-warning">Update</button></a></td>
</tr>
{% endfor %}
    </table>
<br>
<a href="{% url 'add_stu' %}"><button class="btn btn-success">Add Student</button></a>
        </form>
    </div>
{% endblock %}